# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Virtual environments
.venv/
venv/
env/
.micromamba/
conda_env/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDE/editor cruft
*.swp
*.swo
*.idea/
.vscode/
.DS_Store

# Jupyter notebooks
.ipynb_checkpoints/

# Project outputs and input
/output/*
/input/*
/trash/
/test_output/*
artifacts/
*.png
*.csv
*.hdf5

# Logs
*.log

# temp files
*~
#*